@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Page!";
}

<h1>Alicia Lane</h1>

<!--picture of me doing something I enjoy!-->
<img src="img/painting.jpg" style="width:300px;" alt="Picture of me painting!">

<p>I am really excited to gain more exposure to development for larger companies! I have only ever worked in small teams and smaller organizations so this will be important experience! I am also glad we are learning a strongly typed language so I can understand how that works and be a more well rounded developer!</p>

<!--A list of the Top #3 jobs you are most interested in pursuing when you graduate-->
<h3>Top 3 Jobs:</h3>
<ul>
    <li>Data Analyst</li>
    <li>Product Management</li>
    <li>Developer</li>
</ul>


